<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/}">首页</a>
<a th:href="@{/employee}">用户列表</a>
<a th:href="@{/employee/1}">查询用户1</a>

<form th:action="@{/testRequestBody}" method="post">

    name:
    <input type="text" name="name" value="name"><br>
    password:
    <input type="password" name="password">
    <input type="submit" value="提交">
</form>

<form th:action="@{/testRequestEntity}" method="post">

    name:
    <input type="text" name="name" value="name"><br>
    password:
    <input type="password" name="password">
    <input type="submit" value="测试RequestEntity">
</form>

<a th:href="@{/testResponseEntity}">testResponseEntity</a>

<a th:href="@{/testResponseEntity2}">testResponseEntity2</a>

<a th:href="@{/testResponseEntity3}">testResponseEntity3</a>
<div id="app">

    <a th:href="@{/testAjax}"  @click="tesAxios">test Ajax</a>
</div>



</body>

<script th:src="@{/static/js/vue.js}" type="text/javascript"></script>
<script th:src="@{/static/js/axios.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        // bind delete to form delete
        methods: {
            tesAxios: function (event) {
                event.preventDefault();
                var a = document.getElementsByTagName("a");
                a.action = event.target.href;
            //     post axios
                axios.post(a.action, {
                    username: 'Fred',
                    password: 'Flintstone'
                })
                    .then(function (response) {
                        alert(response.data);
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
        }
    })
</script>
</html>