<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/}">首页</a>
<a th:href="@{/employee}">用户列表</a>
<a th:href="@{/employee/1}">查询用户1</a>

<form th:action="@{/testRequestBody}" method="post">

    name:
    <input type="text" name="name" value="name"><br>
    password:
    <input type="password" name="password">
    <input type="submit" value="提交">
</form>

<form th:action="@{/testRequestEntity}" method="post">

    name:
    <input type="text" name="name" value="name"><br>
    password:
    <input type="password" name="password">
    <input type="submit" value="测试RequestEntity">
</form>

<a th:href="@{/testResponseEntity}">testResponseEntity</a>

<a th:href="@{/testResponseEntity2}">testResponseEntity2</a>

<a th:href="@{/testResponseEntity3}">testResponseEntity3</a>



</body>
</html>