<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 >Hello World !!!!</h1>
<a th:href="@{/testRequestByServlet}">servlet api </a>
<a th:href="@{/testRequestByModelAndView}">Model and View </a>
<a th:href="@{/testRequestByModel}">Model </a>
<a th:href="@{/testRequestByMap}">Map </a>
<a th:href="@{/testRequestByModelMap}">ModelMap </a>
<a th:href="@{/testSessionByServlet}">Session </a>
<!--application-->
<a th:href="@{/testApplicationByServlet}">Application </a>
</body>
</html>